.pagination {
    display: inline-block;
    padding: 20px 0;

  }
  
.pagination a {
    color: white;
    background-color: #00fffff6;
    float: left;
    padding: 8px 16px;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #ddd;
}
  
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}
  
.pagination a:hover:not(.active) {background-color: #ddd;}
  
.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
  
.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}